<html>

    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>
    <body>
        <div class = 'pane'>
            <div class = 'header'>
<h1>Animals</h1>
</div>

{% for i in categories %}
<div class = 'nameAndPrice'>
<div>

<a href='{{url_for("category")}}'><h2>{{i.categoryname}}</h2></a></br>

</div>


{% endfor %}
</div>

<div>
        {% for i in items %}
        <div class = 'nameAndPrice'>
        <div>
        
        <a href='{{url_for("editItem")}}'><h2>{{i.itemname}}</h2></a></br>
        
        </div>
        
        
        {% endfor %}
        </div>
</div>
</div>
</body>

</html>