{% extends 'base.html' %}
{% block content %}
<h1>Categories</h1>
{% for i in categories %}
<div class = 'nameAndPrice'>
    <div>

        <a href='{{url_for("category", category_id=i.id)}}'><h2>{{i.categoryname}}</h2></a></br>
        

    </div>
</div>

{% endfor %}


<div>
    <a href='{{ url_for("newItem")}}'><h2>Add new Item</h2></a></br>
    {% for i in items %}
    <div class = 'nameAndPrice'>
        <div>
        
            <a href='{{url_for("showItem", item_id=i.id)}}'><h2>{{i.itemname}}</h2></a></br>
        
        </div>
        
    </div>
    {% endfor %}
        
</div>
{% endblock %}