{% extends 'base.html' %}
{% block content %}
<div class = 'col'>
<h2>Edit Item</h2>

<form action="{{ url_for('editItem', item_id = editItem.id)}}" method= 'post'>
        <p>Name: </p>
        <input type= 'text' size='30' name='name' placeholder={{editItem.itemname}}>
        <p>Description: </p>
        <input type= 'text' size='30' name='description' placeholder={{editItem.description}}>
        <p>Category: </p>
        <select name="category" placeholder={{editItem.itemname}}>
            {% for i in categories %}
                {% if i.id == editItem.category_id %}
                    <option value="{{i.id}}" selected>{{i.categoryname}}</option>
                {% else %}
                    <option value="{{i.id}}">{{i.categoryname}}</option>
                {% endif %}
            {% endfor %}
        </select>
    <input type='submit' value = 'Edit'>
    <a href="{{url_for('showItem', item_id = editItem.id)}}">Cancel</a>
</form>
</div>
{% endblock %}