
<html>
    <head>
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script>
          function start() {
            gapi.load('auth2', function() {
              auth2 = gapi.auth2.init({
                client_id: '503699730017-gk1k9rde0s38cjhjd038g67g87iuahg6.apps.googleusercontent.com'
              });
            });
          }
        </script>
        <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    </head>

    <body>  
        <button id="signinButton">Google Signin</button>
        <div id="result"></div>
        <script>
                $('#signinButton').click(function() {
                  function signInCallback(authResult){
                      
                    if (authResult['code']){
                        console.log("{{STATE}}")
                      $('#signinButton').attr('style', 'display: none');
                      $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success:function(result){
                          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                               setTimeout(function() {
                                window.location.href = "/catalog";
                               }, 4000);
                        },
                        error:function(result){
                          console.log("fail")
                            alert(JSON.stringify(result))
                               setTimeout(function() {
                                window.location.href = "/login";
                               }, 4000);
                        },
                        processData:false,
                        data:authResult['code']
                      });
                    } else{
                      console.log('There was an error: ' + authResult['error']);
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                  }
                  auth2.grantOfflineAccess().then(signInCallback);
                });
              </script>

    </body>

</html>